body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.App {
  text-align: center;
}

.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar h2 {
  margin: 1% 0 0 1%;
}

.Footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.Contact form {
  margin: 0 auto;
  width: 50%;
}
