/* GLOBAL STYLES */

body {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

.App {
  text-align: center;
}

/* NAV & FOOTER */

.Navbar {
  display: flex;
  justify-content: space-between;
}

.Navbar h2 {
  margin: 1% 0 0 1%;
}

.Navbar a {
  color: #343a40;
}

.Navbar a:hover {
  color: #ffc107;
}

.Footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #7952b3;
  min-height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
}

.Footer h2,
.Footer a {
  margin: 0 auto;
  color: #e1e8eb;
}

/* MAIN STYLES */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffc107;
  }
}

.typewriter {
  display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 1.75s steps(12, end), blink 0.75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid #ffc107;
  box-sizing: border-box;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
}

.Home h2 {
  animation-name: fadeIn;
  animation-duration: 5s;
}

.Home a {
  color: #343a40;
}

.Home a:hover {
  color: #ffc107;
}

.Home span {
  color: #ffc107;
}

.Projects {
  width: 75%;
  margin: 0 auto;
}

.Projects h2 {
  color: #7952b3;
}

.Projects ul,
.Projects p {
  text-align: justify;
}

.banner {
  padding: 4%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3%;
  margin-bottom: 4%;
  border: 2px solid #ffc107;
}

.section1 {
  background-image: url(../images/shelter-management-system.PNG);
}

.section2 {
  background-image: url(../images/service-tracker.PNG);
}

.section3 {
  background-image: url(../images/anywhere-fitness.PNG);
}

.section4 {
  background-image: url(../images/water-my-plants.PNG);
}

.Contact form {
  margin: 0 auto;
  width: 50%;
}
